<!doctype html>
<html>
<head>
    <title>Login and Registration</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>

     <div id="flashes">

     </div>

     <div id="regForm">
          <h1>Registration</h1>
          <hr>

          <form action ='/register' method='post'>
          <p>First Name:<input class="textfield" type="text" name ="first_name"></p>
          <p>Last Name:<input class="textfield" type="text" name ="last_name"></p>
          <p>Email:<input class="textfield" type="text" name ="email">
          <p>Password:<input class="textfield" type="password" name ="pw"></p>
          <p>Confirm Password:<input class="textfield" type="password" name ="confirm_pw"></p>
          <input class="button" type="submit" value="Register"></p>
          </form>
     </div>
     <div id="loginForm">
          <h1>Login</h1>
          <hr>
          <form action ='/login' method='post'>

          <p>Email:<input class="textfield" type="text" name ="email">
          <p>Password:<input class="textfield" type="password" name ="pw"></p>
          <input class="button" type="submit" value="Login"></p>

          </form>
     </div>
     <div id="flashes">
          <p>{%with messages = get_flashed_messages()%}
               {%if messages%}
               <ul>
                    {%for message in messages%}
                         <li>{{message}}</li>
                    {%endfor%}
               </ul>
               {%endif%}
          {%endwith%}</p>
     </div>

</body>
</html>
